<launch>	
	<node pkg="pkg_odometry" name="node_odometry" type="node_odometry" output="screen"/>
	<node pkg="laser_node" name="laser_node" type="laser_node"/>
	<node pkg="pkg_sensors_tf" name="node_sensors_tf" type="node_sensors_tf"/>
	<node pkg="hector_mapping" name="hector_mapping" type="hector_mapping"/>
</launch>
